html,
body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    height: 100%;
}

*[niceTitle]:hover::after {
    content: attr(niceTitle);
    position: absolute;
    background-color: #000;
    color: #fff;
    margin-left: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    pointer-events: none;
}

.downloadedPage {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.downloadedPage:hover {
    box-shadow: 0 0 10px #aaa;
}

.downloadedPage .title {
    font-size: 20px;
    font-weight: bold;
}

.pageTreeUl {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.pageTreeUl .downloadedPage {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.pageTreeCloseBtn {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 0px;
}

.pageTreeWrapper {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.pageTreeWrapperClosed {
    display: none;
}

/*Minimal view*/
.minimalDownloadedPage .pageTreeCloseBtn {
    border: 1px solid #aaa;
    box-shadow: 0 0 5px #d8d8d8;
    border-radius: 0;
    height: unset;
    width: fit-content;
    padding: 5px;
    display: inline-flex;
}

.minimalDelete {
    /*button*/
    background-color: #f00;
    color: #fff;
    border: 1px solid rgb(198 0 0);
    transition: all 0.2s ease-in-out;
}

.minimalDelete:hover {
    background-color: #f00;
    color: #fff;
    border: 1px solid rgb(119, 0, 0);
    box-shadow: 0 0 5px 3px #d28c8c;
}

.minimalDownloadedPage {
    padding-bottom: 10px;
}

.minimalDownloadedPage .pageTreeUl {
    border-left: 1px solid #ccc;
}

.minimalDownloadedPage .pageTreeWrapper {
    border-bottom: 1px solid #ccc;
}

.minimalDownloadedPageInfoWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.minimalDownloadedPageUrl {
    font-size: 12px;
    color: #666;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.minimalDownloadedPageName {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.minimalDownloadedPageName:hover {
    text-decoration-style: dotted;
}

/*End Minimal view*/

button {
    cursor: pointer;
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #f0f0f0;
    border: 1px solid #aaa;
    box-shadow: 0 0 5px #d8d8d8;
}

button.delete {
    background-color: #f00;
    color: #fff;
    border: 1px solid rgb(198 0 0);
    transition: all 0.2s ease-in-out;
}

button.delete:hover {
    background-color: #f00;
    color: #fff;
    border: 1px solid rgb(119, 0, 0);
    box-shadow: 0 0 5px 3px #d28c8c;
}

#loading {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}


#editPanel {
    position: fixed;
    z-index: 999;

    width: 70%;
    height: 70%;
    min-width: 300px;
    min-height: 500px;
    max-width: 100%;
    max-height: 100%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

    border: 1px solid #ccc;

    overflow-y: auto;
    overflow-x: hidden;
}

#editPanel hr {
    width: 100%;
}

.editPanelList {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;

    max-height: 300px;
    overflow: auto;
}

.editPanelList p {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 15px;
}

.editPanelList p:hover {
    text-decoration: underline;
}

#pageOptions .selected {
    background-color: #f0f0f0;
    border: 1px solid #aaa;
    box-shadow: 0 0 5px #d8d8d8;
}

.displayTypeSelectContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: flex-start;
}

.displayTypeSelectContainer>p {
    min-width: 57px !important;
}

.displayTypeSelectRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


#page {
    transition: all 0.3s ease-in-out;
    min-height: 100vh;
    padding-bottom: 0.1px;
}

#pageOptions {
    position: fixed;
    z-index: 998;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 20px;
    font-family: sans-serif;
    font-size: 15px;
    box-shadow: 0 0 30px #3d3d3d80;
    margin: 5px;
    border-radius: 14px;
}



#pageContentTitle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    overflow-wrap: anywhere;
}

#pageUrl {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    word-break: break-all;
    cursor: pointer;
    text-decoration: underline;
    margin: 0;
    padding: 10px;
}

.page a {
    color: #000;
    text-decoration: dotted underline;
}


#select {
    position: fixed;
    z-index: 1002;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background-color: #00000025;
    justify-content: center;
    align-items: center;
}

#selectWraper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 70%;
    height: 70%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    justify-content: center;
    flex-direction: column;
}

#selectTitle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    overflow-wrap: anywhere;
}

#selectOptions button {
    margin: 5px;
    padding: 20px;
}

#selectOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    border: 1px solid #ccc;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;


}

/*
==========================================
||            custom options            ||
==========================================
*/

.type1container #pageContent {
    border: 5px;
    padding: 20px;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0 0 10px #ccc;
    margin: 10px;
}

.type1container.type1color #pageContent {
    box-shadow: 0 0 10px #ccc;
}

.type1container.type2color #pageContent {
    box-shadow: 0 0 10px #5f5f5f;
}

.type1container.type23color #pageContent {
    box-shadow: 0 0 10px #2e2e2e;
}

.type2container #pageContent {
    overflow: auto;
}

.type3container #pageContent {
    overflow: auto;
    padding: 20px;
    margin: 10px;
}




/* ======================================== */
/* type 1 */
.type1color {
    color: #1e1d25;
    background-color: #fff;
}

.type1color button.selected {
    background-color: #d6d6d6 !important;
}

.type1color .styleColorUpdate,
.type1color button,
.type1color button:hover,
.type1color a {
    background-color: #fff;
    color: #1e1d25;
}

.type1color .downloadedPage {
    background-color: #f2f2f2;
    box-shadow: 0 0 10px #ccc;
    color: black;
}

.type1color #editPanelMassDownloadLinksList .selected {
    background-color: rgb(0, 255, 0);
}

.type1color #editPanelMassDownloadLinksList .notselected {
    background-color: rgb(255 89 0);
}

.type1color #editPanelMassDownloadLinksList .clicked {
    background-color: rgb(0 171 255);
}

.type1color #selectWraper {
    background-color: #fff;
    border: 1px solid #ccc;
}

.type1color #loading {
    background-color: #fff;
}

.type1color .lds-ellipsis div {
    background-color: #000000;
}

.type1color .minimalDownloadedPageName {
    color: blue;
}

.type1color .minimalDownloadedPageUrl {
    color: #ccc;
}

/* ======================================== */
/* type 2 */
.type2color {
    color: #fff;
    background-color: #000000;
}

.type2color button.selected {
    background-color: #d6d6d6 !important;
}

.type2color .styleColorUpdate,
.type2color button,
.type2color button:hover,
.type2color a {
    background-color: #000000;
    color: #fff;
}

.type2color .downloadedPage {
    background-color: #1f1f1f;
    box-shadow: 0 0 10px #5f5f5f;
    color: white;
}

.type2color #editPanelMassDownloadLinksList .selected {
    background-color: rgb(0, 136, 0);
}

.type2color #editPanelMassDownloadLinksList .notselected {
    background-color: rgb(163, 0, 0);
}

.type2color #editPanelMassDownloadLinksList .clicked {
    background-color: rgb(0, 0, 163);
}

.type2color #selectWraper {
    background-color: #000;
    border: 1px solid #5f5f5f;
}

.type2color #loading {
    background-color: #000;
}

.type2color .lds-ellipsis div {
    background-color: #fff;
}

.type2color .minimalDownloadedPageName {
    color: #578eff;
}

.type2color .minimalDownloadedPageUrl {
    color: #ccc;
}

/* ======================================== */
/* type 23 */
.type23color {
    color: #9e9e9e;
    background-color: #000000;
}

.type23color button.selected {
    background-color: #d6d6d6 !important;
}

.type23color .styleColorUpdate,
.type23color button,
.type23color button:hover,
.type23color a {
    background-color: #000000;
    color: #9e9e9e;
}

.type23color .downloadedPage {
    background-color: #000000;
    box-shadow: 0 0 10px #2e2e2e;
    color: #9e9e9e;
}

.type23color #editPanelMassDownloadLinksList .selected {
    background-color: rgb(0, 94, 0);
}

.type23color #editPanelMassDownloadLinksList .notselected {
    background-color: rgb(119, 0, 0);
}

.type23color #editPanelMassDownloadLinksList .clicked {
    background-color: rgb(0, 0, 119);
}

.type23color #selectWraper {
    background-color: #000;
    border: 1px solid #2e2e2e;
}

.type23color #loading {
    background-color: #000;
}

.type23color .lds-ellipsis div {
    background-color: #9e9e9e;
}

.type23color .minimalDownloadedPageName {
    color: #4774ce;
}

.type23color .minimalDownloadedPageUrl {
    color: #9e9e9e;
}

/* ======================================== */
/* type 3 */
.type3color {
    color: #fff;
    background-color: #5a5151;
}

.type3color button.selected {
    background-color: #d6d6d6 !important;
}

.type3color .styleColorUpdate,
.type3color button,
.type3color button:hover,
.type3color a {
    background-color: #5a5151;
    color: #fff;
}

.type3color .downloadedPage {
    background-color: #6d6464;
    box-shadow: 0 0 10px #3d3d3d80;
    color: white;
}

.type3color #editPanelMassDownloadLinksList .selected {
    background-color: rgb(0, 191, 0);
}

.type3color #editPanelMassDownloadLinksList .notselected {
    background-color: rgb(231 0 0);
}

.type3color #editPanelMassDownloadLinksList .clicked {
    background-color: rgb(0, 0, 231);
}

.type3color #selectWraper {
    background-color: #5a5151;
    border: 1px solid #3d3d3d80;
}

.type3color #loading {
    background-color: #5a5151;
}

.type3color .lds-ellipsis div {
    background-color: #fff;
}

.type3color .minimalDownloadedPageName {
    color: #5794dd;
}

.type3color .minimalDownloadedPageUrl {
    color: #adadad;
}

/* ======================================== */
/* type 4: solarizedDarkColor */
.solarizedDarkColor {
    color: #839496;
    background-color: #002b36;
}

.solarizedDarkColor button.selected {
    background-color: #07495a !important;
    color: #e5e5e5;
}

.solarizedDarkColor .styleColorUpdate,
.solarizedDarkColor button,
.solarizedDarkColor button:hover,
.solarizedDarkColor a {
    background-color: #002b36;
    color: #839496;
}

.solarizedDarkColor .downloadedPage {
    background-color: #144d5b;
    box-shadow: 0 0 10px #606b6e;
    color: #839496;
}

.solarizedDarkColor #editPanelMassDownloadLinksList .selected {
    background-color: rgb(27 67 100);
}

.solarizedDarkColor #editPanelMassDownloadLinksList .notselected {
    background-color: rgb(100 27 27);
}

.solarizedDarkColor #editPanelMassDownloadLinksList .clicked {
    background-color: rgb(27 27 100);
}

.solarizedDarkColor #selectWraper {
    background-color: #002b36;
    border: 1px solid #606b6e;
}

.solarizedDarkColor #loading {
    background-color: #002b36;
}

.solarizedDarkColor .lds-ellipsis div {
    background-color: #839496;
}

.solarizedDarkColor .minimalDownloadedPageName {
    color: #578eff;
}

.solarizedDarkColor .minimalDownloadedPageUrl {
    color: #839496;
}

/* ======================================== */
/* type 5: atomicDarkColor */
.atomicDarkColor {
    color: #c5c8c6;
    background-color: #1d1f21;
}

.atomicDarkColor button.selected {
    background-color: #2b2b2b !important;
    color: #e5e5e5;
}

.atomicDarkColor .styleColorUpdate,
.atomicDarkColor button,
.atomicDarkColor button:hover,
.atomicDarkColor a {
    background-color: #1d1f21;
    color: #c5c8c6;
}

.atomicDarkColor .downloadedPage {
    background-color: #2b2b2b;
    box-shadow: 0 0 10px #606b6e;
    color: #c5c8c6;
}

.atomicDarkColor #editPanelMassDownloadLinksList .selected {
    background-color: rgb(27 67 100);
}

.atomicDarkColor #editPanelMassDownloadLinksList .notselected {
    background-color: rgb(100 27 27);
}

.atomicDarkColor #editPanelMassDownloadLinksList .clicked {
    background-color: rgb(27 27 100);
}

.atomicDarkColor #selectWraper {
    background-color: #1d1f21;
    border: 1px solid #606b6e;
}

.atomicDarkColor #loading {
    background-color: #1d1f21;
}

.atomicDarkColor .lds-ellipsis div {
    background-color: #c5c8c6;
}

.atomicDarkColor .minimalDownloadedPageName {
    color: #578eff;
}

.atomicDarkColor .minimalDownloadedPageUrl {
    color: #999d9a;
}

/* ======================================== */



.type1font {
    font-family: serif;
}

.type2font {
    font-family: sans-serif;
}

.type3font {
    font-family: monospace;
}

.type0size {
    font-size: 10px;
}

.type1size {
    font-size: 15px;
}

.type12size {
    font-size: 17px;
}

.type2size {
    font-size: 20px;
}

.type23size {
    font-size: 22px;
}

.type3size {
    font-size: 25px;
}

.type4size {
    font-size: 30px;
}